<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- DB컬럼명과 message객체의 변수명 맞춰주기 -->
	<!-- <resultMap type="com.bitcamp.guest.domain.Message" id="messageResutmap" >
		<result property="id" column="message_id" />
		<result property="guestName" column="guest_name" />
		<result property="password" column="password"/>
		<result property="message" column="message"/>
		!!!!!!!!!!!!!!!!!!!!!!!이렇게 하면 resultMap 으로 해서 id 값 넣어주기!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	</resultMap> -->
  
  	<!-- select 문 사용시 output을 받아줄 객체를 선언해야함
  	resultType 은 매핑할는 자바 클래스의 전체 경로를 입력함
  	ex) int - int형 객체로 쿼리 실행 결과값을 받음
  	resultMap은 선언 당시 참조로 사용한 이름을 입력
  	개발자가 직접 원하는 pojo클래스에 매핑 가능
  	parameterType - 조회결과 object
  	 -->
  
  <!-- namespace 는 필수 속성이다. : dao 식별하기위한 이름 -->
  <mapper namespace="com.bitcamp.guest.mapper.mybatis.guestMapper">
  
  <insert id="insertMessage" parameterType="com.bitcamp.guest.domain.Message">
  	INSERT INTO GUESTBOOK_MESSAGE (GUEST_NAME, PASSWORD, MESSAGE) values (#{guestName},#{password},#{message})
  </insert>
  
  <select id="selectCount" resultType="int">
  select count(*) from guestbook_message
  </select>
  
  <select id="selectList" parameterType="map" resultType="com.bitcamp.guest.domain.Message">
  <!-- 크고 작음을 표시할때 CDATA-->
  <![CDATA[
  	select * from GUESTBOOK_MESSAGE order by message_id desc limit #{firstRow} , #{MESSAGE_COUNT_PER_PAGE}]]>
  </select>
  
   <select id="select" resultType="com.bitcamp.guest.domain.Message">
  select * from guestbook_message where message_id = #{message_id}
  </select>

  <delete id="deleteMessage">
  	delete from guestbook_message where message_id= #{message_id}
  </delete>  
  </mapper>